body {
    background: url('../images/background_profile.jpg') repeat;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    /* background: darkgray; */
    background: rgba(20, 20, 20, 0.8);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px)
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header p {
    margin: 5px 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a img.home-icon {
    width: 24px; /* Adjust the size of the home icon */
    height: 24px; /* Adjust the size of the home icon */
    margin-right: 5px; /* Add some space between the icon and the text */
}

.container {
    display: flex;
    margin-top: 100px;
    overflow-x: auto;
    position: relative;
}

aside {
    /* background: darkgray; */
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    overflow-y: auto;
    flex-shrink: 0;
    z-index: 1;
    /* backdrop-filter: blur(10px); */
    
}

.profile-image {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

aside h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

aside p {
    margin: 10px 0;
}

aside a {
    color: white; /* Remove hyperlink color */
    text-decoration: none; /* Remove underline */
}

aside a:hover {
    text-decoration: underline; /* Underline on hover */
}

aside img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

aside ul.section-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

aside ul.section-links li {
    margin: 10px 0;
}

aside ul.section-links li a {
    color: white; /* Default color */
    text-decoration: none; /* Remove underline */
    font-weight: normal; /* Default font weight */
}

aside ul.section-links li a:hover {
    color: #008fd4; /* Highlight color */
    text-decoration: underline; /* Underline on hover */
    font-weight: bold; /* Bold on hover */
}


main {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
    overflow-x: auto;
    position: relative;
}

main img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

main h2 {
    color: #008fd4;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.item {
    margin-bottom: 20px;
    width: 100%;
}

section {
    padding-top: 100px; /* Adjust this value based on the height of your header */
    margin-top: -100px; /* Adjust this value based on the height of your header */
}

.section-box {
    border: 2px solid #008fd4;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.1);
}

.section-box p {
    margin: 5px 0;
}

.tabulated-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tabulated-content p {
    display: flex;
    flex: 1 1 100%;
    margin: 5px 0;
}

.tabulated-content p strong {
    display: inline-block;
    width: 150px; /* Adjust this value as needed */
    flex-shrink: 0;
    vertical-align: top;
}

/* Add this section to style links and email addresses */
a, a:visited {
    color: #4d6bfe; /* Highlight color */
    text-decoration: none; /* Remove underline */
}

a:hover, a:focus {
    text-decoration: underline; /* Underline on hover */
}

/* Ensure email links are also styled */
a[href^="mailto:"] {
    color: #4d6bfe; /* Highlight color */
}

a[href^="mailto:"]:hover, a[href^="mailto:"]:focus {
    text-decoration: underline; /* Underline on hover */
}