body {
    background: linear-gradient(to right, black, darkblue, gray);
    color: white;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.circular-image:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}

a p {
    margin-top: 10px;
    font-size: 18px;
}

