{% for section in site.data.resume %}
    <section id="{{ section[0] }}">
        <h2>{{ section[0] | capitalize }}</h2>
        {% if section[1] %}
            {% if section[1] contains 'title' %}
                {% for item in section[1] %}
                    <div class="item">
                        {% for key, value in item %}
                            <p><strong>{{ key | capitalize }}:</strong> {{ value }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                {% for key, value in section[1] %}
                    <p><strong>{{ key | capitalize }}:</strong> {{ value }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </section>
{% endfor %}